		<div class="container mid wide">
			<% if ( message ) { %>
				<h2><%= message %></h2>
			<% } %>
		</div>
		<div>
			<div class="container bottom">
			<button type="button" class="btn dkred" onclick="location.href='/logout'">Logout</button>
			</div>
		</div>

	