/* login.css */

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #505050;
  color: white;
  border-radius: 10px;
  font-family: 'Inter Var', sans-serif;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #505050;
  outline: none;
  color: white;
  font-family: 'Inter Var', sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

.default-textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  padding-right: 0px;
  margin: 5px 0px 22px 0;
  border: none;
  background: #505050;
  color: white;
  border-radius: 10px;
  font-family: 'Inter Var', sans-serif;
}

.default-textarea:focus {
  background-color: #505050;
  outline: none;
  color: white;
  font-family: 'Inter Var', sans-serif;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.form-row {
    grid-column: span 2;
}

.form-column {
  width: 100%;
  max-width: 500px;
}